@media (max-width: 768px) {
    .section-newlunch {

        .container {

            .inner {

                 height: 400px;
                .orb-container {
                    width: 100% !important;
                    height: 100% !important;
                    span{
                        font-size: 20px !important;
                    }
                }
            }

        }


    }
}