.section-newlunch {

   
       
        // background-color: #ff8e3149;
        border-radius: 20px;
        h3{
            font-size: 40px;
            color: $black;
            text-align: center;
            font-family: "National Park", sans-serif;
        }
        .circular-gallery{
            height: 500px;
            canvas{
                height: 100%;
                
            }
        }
}