//Fonts

$roboto:"Roboto", sans-serif;
$avo:"Arvo", serif;
$national :  "National Park", sans-serif;



// common variale 
$facebook: #3b5998;
$twitter: #55acee;
$gplus: #d34836;
$linkedin: #0077b5;
$skype: #0078ca;
$youtube: #cc181e;
$instagram: #125688;

//website  Colors variable
$primaryColor: #f54500;

$secondaryColor: #1E1E1E;
$black: #000000;
$t-color: #8D8D8D;
$white: #fff;
$bg: #F4F5F5;